<!-- Form: Create New Chore Template -->
<div *ngIf="creatingNew == true">
    <cm-chore-template-create 
        (created)="onChoreTemplateCreated($event)" 
        (canceled)="onChoreTemplateCreateCanceled()">
    </cm-chore-template-create>
</div>

<!-- Form: Assign Chore -->
<div *ngIf="assignChore == true">
    <cm-chore-template-assign 
        [choreTemplate]="assignedChoreTemplate"
        (assigned)="onChoreTemplateAssigned()" 
        (canceled)="onChoreTemplateAssignCanceled()">
    </cm-chore-template-assign>
</div>

<!-- Chore Template list -->
<div class="container">
    <div [hidden]="creatingNew == true || assignChore == true">
        <button class="btn btn-primary" 
            (click)="onNewChoreTemplate()">
            Create New Chore Template
        </button>
        <div *ngIf="choreTemplates.length == 0; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>
            <div style="margin:10px;">
                <h5>There are no Chore Templates yet, why not create a new one?</h5>
            </div>
        </ng-template>
        <ng-template #elseBlock>
            <div class="container" style="margin:10px;">
                <h5>Available Chore Templates:</h5>
                <div class="list-group">
                    <div class="list-group-item" 
                        *ngFor="let choreTemplate of choreTemplates; let i= index; ">
                        <cm-chore-template 
                            [choreTemplate]="choreTemplate" 
                            [index]="i"
                            (assigned)="onChoreAssignClicked($event)">
                        </cm-chore-template>
                    </div>
                </div>
            </div>
        </ng-template>
    </div>
</div>
