<div class="row">
    <div class="col-10 pull-left">
        <div data-toggle="collapse" attr.data-target="#content-{{index}}" style="cursor:pointer">
            <h6 class="list-group-item-heading">{{choreTemplate.name}}</h6>
        </div>
    <div id="content-{{index}}" class="collapse">
        <div>
            <span class="list-group-item-text"><span *ngIf="masterUser">Created by: {{masterUser.name}}</span></span>
            <span class="list-group-item-text"> on: {{choreTemplate.createdDate | date:'longDate'}}</span>
        </div>
        <div *ngIf="choreTemplate.updatedDate" class="list-group-item-text"> Last updated on: {{choreTemplate.updatedDate | date:'longDate'}}</div>
    </div>
    </div>
        <div class="col-2 pull-right">
        <button type="button" class="btn btn-sm btn-outline-secondary" (click)="onAssign()">
            Assign
        </button>
    </div>
</div>