<!-- nav -->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">Chore Master</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div *ngIf="currentUser.name; then thenBlock else elseBlock"></div>
  <ng-template #thenBlock>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{currentUser.name}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#" (click)="logout()">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </ng-template>
  <ng-template #elseBlock>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Login/Register</a>
        </li>
      </ul>
    </div>
  </ng-template>

  
</nav>

<!--
<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/">Home</a>
  </div>
  <div class="navbar-nav ml-auto">
    <div *ngIf="currentUser.name">
        <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
          <button 
            class="btn btn-outline-primary mr-2" 
            id="dropdownManual" 
            ngbDropdownAnchor (focus)="myDrop.open()">
              {{currentUser.name}}
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownManual">
            <button ngbDropdownItem (click)="logout()">Logout</button>
          </div>
        </div>
    </div>
    </div>
</nav>
-->
<!-- main app container -->
<div class="jumbotron">
  <div class="container">
      <div class="row">
          <div class="col-sm-6 offset-sm-3">
              <cm-alert></cm-alert>
              <router-outlet></router-outlet>
          </div>
      </div>
  </div>
</div>