<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/">Home</a>
      <a class="nav-item nav-link" (click)="logout()">Logout</a>
  </div>
  <div *ngIf="currentUser" class="d-inline-block dropdown-menu-right" ngbDropdown #myDrop="ngbDropdown">
    <button class="btn btn-outline-primary mr-2" id="dropdownManual" ngbDropdownAnchor (focus)="myDrop.open()">{{currentUser.name}}</button>
    <div ngbDropdownMenu aria-labelledby="dropdownManual">
      <button ngbDropdownItem>Action - 1</button>
      <button ngbDropdownItem>Another Action</button>
      <button ngbDropdownItem>Something else is here</button>
    </div>
  </div>
</nav>

<!-- main app container -->
<div class="jumbotron">
  <div class="container">
      <div class="row">
          <div class="col-sm-6 offset-sm-3">
              <cm-alert></cm-alert>
              <router-outlet></router-outlet>
          </div>
      </div>
  </div>
</div>